{
  "plugins": [
    "transform-inline-environment-variables",
    ["module-resolver", {
      "alias": {
        "jsx": "C:\Users\OWNER\Downloads\pleiades-4.8.0-java-win-64bit-jre_20180923\pleiades\workspace\Potal-webAp\src\main\poker\src", 
      }
    }]
  ]
}
